<!--CARDS-->
<h2 class="text-center titulos-tamn"> Flores</h2>
<div class="container-fluid " style="margin-top: 80px;">
    <div class="row">
        <div class="col-5  shadow justify-content-center" style="border: 4px solid #fff;border-radius: 20px;background-color:#fff; width: 300px;height:220px;margin-bottom:30px;">
            <!--filtro-->
            <div>

                <ul style="list-style: none;">
                    <h4 style="font-size:24px;">Filtro <span></span></h4>
                    <li><input type="checkbox" style="margin-right: 5px;"><label><span>
                Girassol
              </span></label></li>
                    <li><input type="checkbox" style="margin-right: 5px;"><label><span>
                Rosa
              </span></label></li>
                    <li><input type="checkbox" style="margin-right: 5px;"><label><span>
                Margarida
              </span></label></li>
                    <li><input type="checkbox" style="margin-right: 5px;"><label><span>
                Lírio
              </span></label></li>
                    <li><input type="checkbox" style="margin-right: 5px;"><label><span>
                Cravo
              </span></label></li>

                    <li><input type="checkbox" style="margin-right: 5px;"><label><span>
                Buquê personalizavel
              </span></label></li>
                    <li>
                        <input type="submit" value="filtrar" class="btn btn1 btn-cadast" style="width: 50%;margin-top: 10px;">

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-7">
            <div class="l-cards">
                <div class="c-card" style="margin-bottom: 30px;">
                    <div class="c-card__image">
                        <div class="card" style="width: 18rem;border-radius: 30px;">
                            <img class="card-img-top" src="imagens svg/pessoa segurando rosa main.jpg" alt="rosas" style="width: 286px; height: 180px; object-fit: cover;
                  border-radius:30px 30px 0px 0px;">
                            <div class="card-body">
                                <h5 class="card-title">20 Rosas</h5>
                                <p class="card-text">120,00
                                </p>
                                <a href="#" class="svg-card"> <svg xmlns="http://www.w3.org/2000/svg" width="35" height="25" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                    <path
                      d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                    <path
                      d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                  </svg>
                                </a>
                            </div>
                        </div>

                        <div class="c-card__content">
                            <span class="u-text-placeholder" style="width:30%"></span>
                            <span class="u-text-placeholder" style="width:85%"></span>
                            <span class="u-text-placeholder" style="width:60%"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>