<h2 class="text-center text-black-50 mt-5">Personalização</h2>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div>
            <div class="card" style="border-radius:30px ;"><img class="card-img-top" src="imagens svg/girassol card 3.jpg" alt="rosas" style="width: 286px; height: 180px; object-fit: cover;border-radius:30px 30px 0px 0px;">
                <div class="card-body">
                    <h5 class="card-title">Girassol</h5>
                </div>
            </div>
            <div class="c-card__content"><span class="u-text-placeholder" style="width:30%"></span><span class="u-text-placeholder" style="width:85%"></span><span class="u-text-placeholder" style="width:60%"></span>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="background-color: #fff;border-radius:20px">
            <div class="input-group " style="margin-bottom: 15px;margin-top:30px;"><span class="input-group-text" id="basic-addon1" style="border-radius:20px 0 0 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
            </path>
          </svg></span><input type="text" style="border-radius:0  20px 20px 0px ;" class="form-control" placeholder="Digite a flor que você deseja" aria-label="Digite a flor  você" aria-describedby="basic-addon1">
            </div>
            <div class="accordion-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-start">Produto</th>
                            <th class="text-start">Nome</th>
                            <th class="text-center">R$ Unit.</th>
                            <th class="text-end">Adicionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="imagens svg/rosa-pers.jpg" alt="buque" width="50px" height="50px" class="img-div-pers"></td>
                            <td>Rosa vermelha</td>
                            <td class="text-end">2, 99
                            </td>
                            <td class="text-center"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-plus-lg svg-pers" viewBox="0 0 16 16">
                    <path
                      d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                  </svg></a></td>
                        </tr>
                        <tr>
                            <td><img src="imagens svg/buque card 1.jpg" alt="buque" width="50px" height="50px" class="img-div-pers">
                            </td>
                            <td>Orquidea branca</td>
                            <td class="text-end">2, 99
                            </td>
                            <td class="text-center"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-plus-lg svg-pers" viewBox="0 0 16 16">
                    <path
                      d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                  </svg></a></td>
                        </tr>
                        <tr>
                            <td><img src="imagens svg/buque card 1.jpg" alt="buque" width="50px" height="50px" class="img-div-pers">
                            </td>
                            <td>Orquidea amarela</td>
                            <td class="text-end">2, 99
                            </td>
                            <td class="text-center"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-plus-lg svg-pers" viewBox="0 0 16 16">
                    <path
                      d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                  </svg></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile style="display: flex;">
        <div>
            <div style="margin-bottom: 30px;margin-top:30px">
                <table class="table" style="width: 300px;">
                    <tbody>
                        <tr>
                            <td><img src="imagens svg/rosa-pers.jpg" alt="buque" width="50px" height="50px" class="img-div-pers">
                            </td>
                            <td class="text-start "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg svg-pers" viewBox="0 0 16 16">
                  <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
                </svg></td>
                            <td class="text-center">2</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg svg-pers" viewBox="0 0 16 16">
                  <path
                    d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                </svg></td>
                            <td class="text-end "><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    fill="currentColor" class="bi bi-trash svg-pers1" viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="display: flex; flex-direction: column; width: 500px; justify-content: center; align-items: center;">
            <button class="btn-cadast mt-5 col-md-6" style="height: 50px;"> Adicionar Ao Carrinho </button>
            <button (click)="closeModal()" class="btn-cadast mt-5 col-md-6" style="height: 50px;"> Voltar Ao Carrinho </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>