<!--carrinho-->

<body>
    <div class="container">
        <h2>Carrinho de Compras</h2>

        <ul class="list-group mb-3">
            <li class="list-group-item py-3 shadow" style="border-radius: 30px 30px 0 0px">
                <div class="row g-3">
                    <div class="col-4 col-md-3 col-lg-2">
                        <a href="#">
                            <img src="imagens svg/girassol card 3.jpg" class="img-thumbnail img-carrinho">
                        </a>
                    </div>
                    <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
                        <h5>
                            <b><a href="#" class="text-decoration-none text-danger">
                                    Vaso de Girassóis</a></b>
                        </h5>
                        <h6>
                            Girassóis selecionados á mão.
                        </h6>
                    </div>
                    <div class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3 offset-lg-0 col-xl-2 align-self-center mt-3">
                        <div class="input-group">
                            <button class="btn btn-outline-dark btn-sm" type="button">
                               
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                              </svg>
                                
                                
                            </button>
                            <input type="text" class="form-control text-center border-dark" value="4">
                            <button class="btn btn-outline-dark btn-sm" type="button">
                                
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                                <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                              </svg>
                                
                                
                            </button>
                            <button class="btn btn-outline-danger border-dark btn-sm" type="button">
                                <i class="bi-trash" style="font-size: 16px; line-height: 16px;"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="text-end mt-2">
                            <small class="text-secondary"></small><br>
                            <span class="text-dark">Valor Item: R$ 15,96</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item py-3 shadow">
                <div class="row g-3">
                    <div class="col-4 col-md-3 col-lg-2">
                        <a href="#">
                            <img src="imagens svg/buque card 1.jpg" class="img-thumbnail img-carrinho">
                        </a>
                    </div>
                    <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
                        <h5>
                            <b><a href="#" class="text-decoration-none text-danger">
                       Buque de Flores variadas</a></b>
                        </h5>
                        <h6>
                            Buque com flores sortidas.
                        </h6>
                    </div>
                    <div class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3 offset-lg-0 col-xl-2 align-self-center mt-3">
                        <div class="input-group">
                            <button class="btn btn-outline-dark btn-sm" type="button">
                           
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                          </svg>
                            
                            
                        </button>
                            <input type="text" class="form-control text-center border-dark" value="4">
                            <button class="btn btn-outline-dark btn-sm" type="button">
                            
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                            <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                          </svg>
                            
                            
                        </button>
                            <button class="btn btn-outline-danger border-dark btn-sm" type="button">
                            <i class="bi-trash" style="font-size: 16px; line-height: 16px;"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                        </div>
                        <div class="text-end mt-2">
                            <small class="text-secondary"></small><br>
                            <span class="text-dark">Valor Item: R$ 15,96</span>
                        </div>
                    </div>
                </div>
            </li>


            <li class="list-group-item py-3 shadow" style="border-radius: 0px 0px 30px 30px;">
                <div class="text-end">
                    <h5 class="text-dark mb-3">
                        Valor Total: R$ 63,84
                    </h5>
                    <a [routerLink]="['/flores']" class="btn btn1 btn-cadast btn-md">
                        Continuar Comprando                            
                    </a>
                    <a (click)="openDialog()" class="pointer-event btn btn1 btn-cadast btn-md ms-2 mt-xs-3">Fechar Compra</a>
                </div>
            </li>
        </ul>

    </div>
</body>