<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-lg-0">
        <div class="container mt-3">
            <a [routerLink]="['inicio']" class="navbar-brand">
                <img src='../../../assets/images/logo.png' alt="logo" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a [routerLink]="['flores']" class="nav-link">Flores</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['sobrenos']" class="nav-link">Sobre nós</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['contato']" class="nav-link">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['login']" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['meuperfil']" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg></a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['carrinho']" class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                />
              </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>